// app global css in SCSS form
@use "quasar/src/css/variables" as q;
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Lemon&family=Poppins:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&display=swap');



.custom_font {
  font-family: 'Kode Mono';
}

.russo-one-regular {
  font-family: "Russo One", sans-serif;
}

.border_radius {
  border-radius: 20px;
}

.font20 {
  font-size: 20px;
}

.font30 {
  font-size: 30px;
}

.font40 {
  font-size: 40px;
}

.text-hijau {
  color: $hijau;
}

.bg-hijau {
  background-color: $hijau;
}

.text-perang {
  color: $perang;
}

.mycard {
  width: 350px;
}

.bg-perang {
  background-color: $perang;
}

.text-outline {
  letter-spacing: 2px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
}
